<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Description</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      From a database of foods with their properties, best three foods are chosen and suggested according to user inputs like BMI, facial emotion recognition, hunger and cost inputs. The suggestion is done using a frobenius measure of input parameters and modulus linear regression model is used.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Developers</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h3>Shaik Ahamed</h3>
      <h3>Asaen Basha</h3>
      <h3>Venkatesh Perumal</h3>
    </ion-card-content>
  </ion-card>
</ion-content>
